$prcolor: #bca061;
$emecolor: #045304;
$colorop : #0453045e;
$text : center ;
$size : 35px;
$font : 'Marck Script';

@media (min-width: 769px){
    body{
        margin: 0px;
        padding: 0px;
    }
//     // ..............parter qualité.................

    .la-qualit{
        background-color: #f7f4ee;
    }
     .qualité{
        color: $prcolor ;
        text-align: $text ;
        font-size: 40px;
        margin-top: 0px;
        padding-top: 10px;
        font-family: $font;
     }

        .produits{
            color: $emecolor ;
            text-align: $text ;
            font-size: 25px;
            border-left: $prcolor 5px solid ;
            border-right: $prcolor 5px solid ;
            margin-right: 20px;
            margin-left: 20px;
        }
        .list{
            list-style: none;
            margin-top: 50px;
            color: $emecolor;
            margin-bottom: 0px;
            padding-left: 170px;
            li{
                font-size: 20px;
                background-image: url(../img/icons-checked.png);
                background-repeat: no-repeat;
                background-size: 6%;
                background-position:  left ;
                padding-left: 45px;
                padding-bottom: 20px;
                padding-top: 15px;
            }
        }
//     // ............parter service............
    .services{
            background-image: url(../img/PA7CR11.png);
            background-size: 100%;
            height: 630px;
        .serv1{
            height: 140px;
            background-color: $colorop;
        }
        .serv2{
            color: white;
            font-weight: bold;
        }
        h1{
            text-align: center;
            margin-top: 0px;
            font-size: 40px;
            font-family: $font;
        }
        ul{
            list-style: none;
            padding-left: 150px;
            font-size: 20px;
        }

    }

}