.one img {
	width: 150px;
	-ms-flex-item-align: baseline;
}

.footer {
	background-color: #045304;
	text-align: center;
	padding: 50px;
	height: 549px;
}
p {
	color: #bca061;
	font-size: 26px;
}
.socialmed {
	border-bottom: 5px solid #bca061;
}
.two {
	margin-left: 10px;
	text-align: center;
	margin-top: 10px;
}
.socialmed img {
	width: 30px;
}
.one {
	color: #bca061;
	display: block;
	align-items: center;
}

p {
	color: #bca061;
}

p img {
	width: 30px;
}
.hover:hover {
	background-color: #bca161da;
}
/* .one { 
    display: flex;
    align-items: center;
    line-height: -2px;
}
*/
@media only screen and (max-width: 435px) {
	.one p {
		margin-top: 0;
	}
	.logo {
		margin-bottom: 20px;
	}
	.one {
		color: #bca061;
		display: block;
		align-items: center;
	}
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
	.one {
		display: flex;
		align-items: center;
		line-height: -2px;
		border-right: 6px solid #bca061;
		padding-right: 3px;
	}
	.two img {
		margin-right: 20px;
	}
	.footer {
		display: flex;
		justify-content: space-around;
		height: 195px;
	}
	.one .socialmed {
		border-bottom: none;
		margin-left: 45px;
		margin-right: 28px;
		padding-right: 8px;
		padding-left: 32px;
		margin-top: 60px;
		width: 120px;
	}
	.footer .two {
		text-align: left;
		margin-left: 5px;
		padding-left: 23px;
	}
	.socialmed img {
		width: 28px;
	}
	p {
		color: #bca061;
		font-size: 17px;
	}
}

@media only screen and (min-width: 770px) {
	.socialmed {
		border-bottom: none;
		margin-left: 30px;
		padding-right: 50px;
		margin-top: 60px;
	}
}
