body {
	margin: 0px;
	padding: 0px;
}

/*page-1 partie-1 header*/

.header {
	background: url(../../img/imghead-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 230px;
	position: relative;
}

#green-opacité {
	background: rgba(2, 87, 6, 0.3);
	width: 100%;
	height: 100%;
}
.titre-logo {
	font-size: 23px;
	font-family: 'Courgette';
	color: #f7f4ee;
	margin: 0;
	padding-left: 4%;
	padding-top: 34%;
	text-shadow: 2px 4px 6px black;
}

#Bio {
	width: 124px;
	float: right;
	transition: .9s ease-in-out;
	transform: scale(0.8);
}

label {
	display: block;
	cursor: pointer;
	color: #f7f4ee;
	width: 30px;
	padding-left: 6px;
}

.menu-div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0px;
	z-index: 1;
}

.menu {
	text-align: center;
	display: none;
	background: rgba(188, 160, 97, 0.6);
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu a {
	display: block;
	border-bottom: 1px solid #045304;
	text-decoration: none;
	font-size: 13px;
	color: #f7f4ee;
	padding: 10px;
}

#checkbox:checked + .menu {
	display: block;
}

@media only screen and (max-width: 435px) {
	input {
		display: none;
	}

	.titre-logo {
		font-size: 23px;
		font-family: 'Courgette';
		color: #f7f4ee;
		margin: 0;
		padding-left: 4%;
		padding-top: 34%;
		text-shadow: 2px 4px 6px black;
	}
}

@media only screen and (min-width: 436px) and (max-width: 768px) {
	input {
		display: none;
	}
	#green-opacité {
		height: 100%;
	}
	.header {
		height: 334px;
	}
	#green-opacité h1 {
		font-size: 35px;
		padding-left: 3%;
		padding-top: 27%;
	}

	#Bio {
		width: 211px;
		left: 546px;
		top: 11px;
	}
}

@media only screen and (min-width: 769px) {
	label {
		display: none;
	}
	.menu-div {
		width: 100%;
	}
	input {
		display: none;
	}
	.header {
		height: 488px;
	}

	#Bio {
		width: 321px;
		top: 23px;
	}

	.titre-logo {
		font-size: 50px;
		padding-left: 4%;
		padding-top: 12%;
		width: 55%;
	}

	.menu {
		display: contents;
		background: rgba(188, 160, 97, 0.6);
		height: 45px;
		width: 100%;
		display: flex;
		list-style-type: none;
		justify-content: space-around;
		position: absolute;
		margin: 0;
		padding: 0;
		bottom: 0;
	}

	li {
		border-left: 1px solid #f7f4ee;
		width: 33.33%;
		margin: auto;
		text-align: center;
	}

	.menu li a:hover {
		color: #045304;
	}

	.menu li a {
		color: #f7f4ee;
		text-decoration: none;
		font-family: 'Tenor Sans';
		font-size: 21.5px;
		line-height: 45px;
		border-bottom: none;
		padding: 0;
	}

	.menu li:first-child {
		border-left: none;
	}
}
